/* Test code for resiable sidebar */
#container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #aside {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
  }
  
  #handle {
    flex-basis: 18px;
    position: relative;
    z-index: 2;
    cursor: col-resize;
    border-left: 1px solid rgba(0, 255, 255, 0.5);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #content {
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
  }